services:
  alloy:
    image: grafana/alloy:latest 
    container_name: alloy
    command: ["run", "--server.http.listen-addr=0.0.0.0:12345","/etc/alloy/config.alloy"]
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "12345:12345" # Alloy UI
    depends_on:
      - tempo
      - loki
      - prometheus
    restart: unless-stopped

  tempo:
    image: grafana/tempo:latest
    user: "0:0"
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./tempo-config.yaml:/etc/tempo.yaml
      - tempo-data:/tmp/tempo
    ports:
      - "3001:3100"     # HTTP
      - "9095:9095"     # gRPC
    restart: unless-stopped
  
  loki:
    image: grafana/loki:latest
    container_name: loki
    command: ["-config.file=/etc/loki/config.yaml"]
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
      - loki-data:/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command: ["--config.file=/etc/prometheus/prometheus.yml", "--web.enable-remote-write-receiver"]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    ports:
      - "3002:3000"
    depends_on:
      - tempo
      - alloy
  
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo
    ports:
      - "27017:27017"
    restart: unless-stopped
    volumes:
      - ./mongo-data:/data/db
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ main port
      - "15672:15672" # RabbitMQ management UI
    restart: unless-stopped
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq


volumes:
  tempo-data:
  loki-data:
  mongo-data:
  rabbitmq-data: